$primary-bg-color: #ebeefb;
$secondary-bg-color: #d6dbee;
$primary-text-color: #444a53;
$primary-button-color: #45507a;
$button-interaction-color-light: #9ba1b7;
$button-interaction-color-dark: #2f3653;
$placeholder-text-color: #9198b1;
$error-text-color: #c1121f;